# .gitignore

# Virtual environment folder (if using virtualenv or conda)
venv/
env/
*.env

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Log files
*.log

# IDE-specific folders
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (these should be excluded if they are large and non-essential for the codebase)
data/

# Other temporary or system-specific files
*.~
.DS_Store
